body {
    font-family: monospace, sans-serif;
}

table {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

tr {
    margin: 5px;
    background: #e1e1e1;
}

thead tr:nth-child(2n) {
    background-color: #f5f5f5;
}

thead tr, .header-left th {
    background: #969494;
}

td, th {
    padding: 5px;
}

.error {
    background: #f5baba;
    border: 2px solid red;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
}